
body
{
font-family:Arial, Helvetica, sans-serif;
font-family:12px;
}


#container
{

width:92%;
}

#container-content
{
border:solid 1px #cccccc;
padding:20px;
width:95%;
color:#cccccc;
}



/*-------------Profile Page Design-------------*/


#info_box
{
padding:60px 50px 0px 10px;
border:solid 1px #dedede;
width:85%;
background-color:#fcfcfc;
margin-top:80px;
}

#profile_img
{
background-color: #FFFFFF;
border: 1px solid #DEDEDE;

margin-top: -100px;
position: absolute;
width: 86px;
height: 86px;
float:left;
}

.avatar_img
{
padding:3px;
}
#cover_container
{
overflow: auto;
width: 90%;
}


#info-box
{
margin-left:115px;
margin-top: -50px;
position: absolute;
}

#info-name
{
float:left;
overflow:hidden;
word-wrap: break-word;
width:150px;

}

#info-content
{

width:50%;
}

#info-photos
{
text-align:center;
font-size:11px;
padding:5px;

width:150px;
border:solid 1px #eeeeee;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends
{
text-align:center;
font-size:11px;
padding:5px;

border:solid 1px #eeeeee;
width:80px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

